<div id="faqs" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <div class="center">
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    FAQs
                </span>
            </div>

            <div class="search-wrapper mx-32 mx-md-0">
                <!-- <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input [formControl]="searchInput" placeholder="Search in FAQs...">
                </div> -->
            </div>

            <button mat-raised-button [routerLink]="'/faqs/new'" class="add-product-button fuse-white mt-24 mt-md-0">
                <span>ADD NEW</span>
            </button>
        </div>

        <div class="content-card px-16 py-24 px-sm-24 py-sm-32" style="padding-bottom: 0 !important;">
            <mat-accordion class="faqs-accordion" fusePerfectScrollbar>
                <mat-expansion-panel *ngFor="let faq of faqsFiltered; let i = index" [expanded]="step === i"
                    (opened)="setStep(i)" style="margin: 5px;">
                    <mat-expansion-panel-header>
                        <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="mr-12 s-20 secondary-text">help_outline</mat-icon>
                            {{faq.question}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div style="display: inline-flex; width: 100%;">
                        <div style="margin: 0 32px; white-space: pre-line;">
                            {{faq.answer}}
                        </div>

                        <div style="position: absolute; right: 5px; margin-top: -8px;">
                            <button mat-button [matMenuTriggerFor]="moreMenu" style="min-width: 57px;">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item aria-label="edit" [routerLink]="'/faqs/'+faq.id+'/'">
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>

                                <button mat-menu-item aria-label="remove" (click)="deleteFaq(faq)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Remove</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-paginator #paginator [length]="totalLength" [pageSize]="limit" [pageSizeOptions]="pageLimit"
                (page)="changePage($event)">
            </mat-paginator>
        </div>
    </div>
</div>